*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: yellow;
    color:brown;
    height: 48px;
    font-size: larger;
    display:flex;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
nav ul{
    list-style-type:none;
}
.game{
    background-color: red ;
    display:flex;
    justify-content: center;
    margin-top: 50px;

}
.container{

}
.box{

}
.box text{

}